<main class="h-screen w-full bg-base-100">
    <h1 class="text-zinc-600 text-3xl p-6">Welcome To My Contacts</h1>
    <article
        class="w-[90%] mx-auto mt-14 max-w-md rounded-md shadow-sm shadow-gray-700 p-8"
    >
        <form
            [formGroup]="authForm"
            action="authentication"
            (ngSubmit)="submitForm()"
        >
            <section class="">
                <label for="email" class="block my-2 w-full">Email</label>
                <input
                    type="text"
                    formControlName="email"
                    placeholder="Type here"
                    [ngClass]="{
                        'input-error': email.errors && email.touched
                    }"
                    class="input input-bordered w-full"
                />
                <label
                    @fade
                    for="error"
                    *ngIf="email.errors && email.touched"
                    class="label"
                >
                    <span class="label-text-alt text-error">
                        <ng-container *ngIf="email.errors.required">
                            Email is required</ng-container
                        >
                        <ng-container *ngIf="email.errors.email">
                            Email is Invalid</ng-container
                        >
                    </span>
                </label>
            </section>
            <section class="my-2">
                <label for="password" class="block my-2 w-full">Password</label>
                <input
                    type="text"
                    [ngClass]="{
                        'input-error': password.errors && password.touched
                    }"
                    formControlName="password"
                    placeholder="Type here"
                    class="input input-bordered input-error w-full"
                />
                <label
                    @fade
                    for="error"
                    *ngIf="password.errors && password.touched"
                    class="label"
                >
                    <span class="label-text-alt text-error">
                        <ng-container *ngIf="password.errors.required"
                            >Password is required</ng-container
                        >
                        <ng-container *ngIf="password.errors.minlength"
                            >Password Must be more then 6
                            characters</ng-container
                        >
                    </span>
                </label>
            </section>
            <button
                [disabled]="!authForm.valid"
                type="submit"
                class="w-full btn mt-2"
            >
                SignUp
            </button>
        </form>
    </article>
</main>
