<div
    class="card card-side bg-base-100 hover:bg-base-200 opacity-75 shadow-xl hover:-translate-y-2.5 transition-all cursor-pointer"
>
    <figure>
        <img
            class="object-cover"
            src="https://placeimg.com/200/280/arch"
            alt="Movie"
            loading="eager"
        />
    </figure>
    <div class="card-body p-4">
        <section class="flex justify-between">
            <h2 class="card-title">{{ ids }} New movie is released!</h2>
            <input
                type="checkbox"
                (change)="onMultiSelect($event)"
                [value]="[ids]"
                data-tip="Select multiple to delete!"
                class="checkbox tooltip tooltip-left"
            />
        </section>
        <p>Click the button to watch on Jetflix app.</p>
        <div @fade *ngIf="!isMultiSelected" class="card-actions justify-end">
            <button class="btn btn-primary">Watch</button>
            <button class="btn btn-error">Delete</button>
        </div>
    </div>
</div>
