<header class="navbar h-20 bg-base-100">
    <section class="flex-1">
        <a
            class="font-bold pl-1 tooltip normal-case text-3xl tooltip-bottom"
            data-tip="Home"
            >My Contacts</a
        >
    </section>
    <article class="flex-none">
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img src="https://placeimg.com/80/80/people" />
                </div>
            </label>
            <nav
                tabindex="0"
                class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
            >
                <section class="flex justify-between items-center px-4 py-2">
                    <span class="text-sm">Dark mode </span>
                    <input
                        type="checkbox"
                        class="toggle"
                        (click)="toggleTheme($event)"
                    />
                </section>

                <li>
                    <a class="justify-between"> Profile </a>
                </li>
                <li><a>Settings</a></li>
                <li><a>Logout</a></li>
            </nav>
        </div>
    </article>
</header>
