<div class="main-container" (click)="detailed(item.id, $event)">
    <figure data-tip="Avatar" class="tooltip tooltip-bottom w-32 sm:w-auto">
        <img
            class="object-cover brightness-75"
            [src]="item.photoUrl"
            alt="user-image"
            loading="lazy"
        />
    </figure>
    <div class="card-body p-2 md:p-4">
        <section class="flex justify-between">
            <h2
                class="card-title text-sm md:text-base lg:text-xl font-extrabold"
            >
                {{ item.name }}
            </h2>

            <input
                type="checkbox"
                [value]="item.id"
                (click)="onMultiSelect($event)"
                data-tip="Select multiple to delete!"
                class="checkbox checkbox-xs md:checkbox-md tooltip tooltip-left"
            />
        </section>
        <h2 class="block w-full text-sm md:text-base lg:text-xl">
            <span class="font-semibold">Email :</span>
            {{ item.contacts[0].email }}
        </h2>
        <h2 class="block w-full text-sm md:text-base lg:text-xl">
            <span class="inline-block font-semibold">Phone :</span>
            {{ item.contacts[0].phone }}
        </h2>

        <p class="text-sm md:text-base lg:text-xl font-semibold">
            <span class="inline-block">Status : </span>
            <span
                [ngClass]="{
                    'text-error': item.status === 'inactive',
                    'text-success': item.status === 'active'
                }"
                class="inline-block"
            >
                {{ item.status | capitalize }}</span
            >
        </p>
        <div @fade *ngIf="!isMultiSelected" class="card-actions justify-end">
            <button
                class="btn btn-sm lg:btn-md btn-primary"
                (click)="edit(item.id, $event)"
            >
                Edit
            </button>
            <button
                class="btn btn-sm lg:btn-md btn-error"
                (click)="delete(item.id, $event)"
            >
                Delete
            </button>
        </div>
    </div>
</div>
