<ng-container *ngIf="list | async as data; else loading">
    <article class="p-4">
        <section
            class="flex item justify-between items-center md:px-2 md:pb-4 px-1 pb-2"
        >
            <h1 class="text-xl text-center md:text-2xl lg:text-3xl font-bold">
                Contacts
            </h1>
            <div>
                <ng-container *ngIf="cards.length">
                    <button
                        (click)="deleteSelected()"
                        class="btn mr-2 md:mr-4 btn-sm md:btn-md"
                    >
                        Delete {{ cards.length }} Contacts
                    </button>
                </ng-container>
                <a
                    @fade
                    routerLink="/dashboard/contacts/details"
                    [queryParams]="{ mode : 'add'}"
                    class="btn btn-sm lg:btn-md"
                    >Add</a
                >
            </div>
        </section>
        <hr />
        <ng-container *ngIf="!data.length; else loadedContacts">
            <section
                class="flex w-full h-[78vh] justify-center items-center flex-col"
            >
                <h1 class="text-2xl md:text-4xl font-semibold">
                    No Contacts Present!
                </h1>
                <a
                    routerLink="/dashboard/contacts/details"
                    [queryParams]="{ mode : 'add'}"
                    class="btn btn-primary mt-4 btn-sm md:btn-md"
                    >Add New Contact</a
                >
            </section>
        </ng-container>
        <ng-template #loadedContacts>
            <section
                class="grid grid-cols-1 gap-4 md:gap-8 md:grid-cols-2 xl:grid-cols-3 mt-2"
            >
                <contact-card
                    @fadeIn
                    *ngFor="let item of data"
                    [item]="item"
                    (onCheck)="onCheck($event)"
                ></contact-card>
            </section>
        </ng-template>
    </article>
</ng-container>
<ng-template #loading>
    <section class="h-[78vh] flex justify-center items-center">
        <progress class="progress progress-primary w-56"></progress>
    </section>
</ng-template>
